@model TaskM.Models.Tarefa

@{
    ViewBag.Title = "Criar Nova Tarefa";
}

<div class="jumbotron fundopretologin mt0">
    <h3 class="colorintro text-center">@ViewBag.Title.</h3>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="fundologinmenu form-horizontal">
        <h4 class="colorintro">Tarefa</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NomeTarefa, htmlAttributes: new { @class = "control-label col-md-2 colorintro" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeTarefa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeTarefa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default mtlight0" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
