@model TaskM.Models.Tarefa

@{
    ViewBag.Title = "Deletar Tarefa";
}

<div class="jumbotron fundopretologin mt0">
    <h3 class="colorintro text-center">@ViewBag.Title.</h3>
</div>

<h3 class="colorintro">Tem Certeza que Deseja realizar esta Operação ?</h3>
<div class="fundologinmenu">
    <h4 class="colorintro">Tarefa a deletar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="colorintro">
            @Html.DisplayNameFor(model => model.NomeTarefa)
        </dt>

        <dd class="bg-primary">
            @Html.DisplayFor(model => model.NomeTarefa, new { htmlAttributes = new { @class = "colorintro" } })
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index", new { }, new {@class="btn btn-default" })
        </div>
    }
</div>
